<%= turbo_frame_tag :show_photo do %>
  <div class="modal fixed w-full h-full top-0 left-0 flex items-center justify-center">
    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-50"></div>

    <div class="modal-container h-full w-full md:w-4/5 bg-white mx-auto rounded shadow-lg z-50 overflow-y-auto">
      <%= link_to flickr_search_path do %>
      <div class="modal-close absolute top-0 right-0 cursor-pointer flex flex-col items-center mt-4 mr-4 text-white text-sm z-50">
        <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
          <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
        </svg>
        <span class="text-sm">(Esc)</span>
      </div>
      <% end %>

      <div class="modal-content w-full h-full py-4 text-left px-6">
        <div class="flex justify-between items-center pb-3">
          <p class="text-2xl font-bold">Photo show</p>
          <div class="modal-close cursor-pointer z-50">
            <%= link_to flickr_search_path do %>
              <svg class="fill-current text-black" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
              </svg>
            <% end %>
          </div>
        </div>

        <div>
          <div class="sm:p-5 mx-auto">
            <div class="rounded-lg overflow-hidden border border-sky-500">
              <img alt="content" class="mx-auto object-cover object-center" src=<%= @orginal_photo %>>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
